<?xml version="1.0" ?>
<robot name="twin" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="is_ignition" default="true"/>
  <xacro:include filename="$(find twin_description)/urdf/arm_sim.xacro" />
  <xacro:include filename="$(find twin_description)/urdf/gazebo.xacro" />
  <xacro:include filename="$(find twin_description)/urdf/ros2control.xacro" />
</robot>
